.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--primary-color);
  flex-shrink: 0;
  user-select: none;
}

.closeBtn{
  background: none;
  border: none;
  color: var(--on-background-color);
  font-size: 2rem;
  line-height: 1;
  margin-left: 8px;
  cursor: pointer;
  align-self: flex-end;
  transition: color 0.2s;
}

.closeBtn:hover {
  color: var(--secondary-color);
}
