#chatHistory {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  scrollbar-width: thin;
  scrollbar-color: #f3f5f8 var(--surface-color);
}

.messages {
  flex: 1 1;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.messageRow {
  display: flex;
  flex-direction: column;
}

.bubble {
  max-width: 80%;
  padding: 12px;
  border-radius: 18px;
  line-height: 1.5;
  word-wrap: break-word;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.3s forwards;
  font-size: 14px;
  list-style-position: inside;

  ul,
  ol {
    margin: 8px 0;
    padding-left: 20px;
    list-style-position: inside;
  }

}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.user {
  align-items: flex-end;
}

.user .bubble {
  background-color: var(--primary-color);
  color: var(--on-background-color);
  border-bottom-right-radius: 4px;
}

.model .bubble {
  background-color: var(--model-message-bg);
  color: var(--on-surface-color);
  border-bottom-left-radius: 4px;
}

/* Spinner */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid var(--primary-color);
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  align-self: flex-start;
  margin: 12px 16px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}