.chatWidget {
    position: fixed;
    right: 32px;
    bottom: 32px;
    z-index: 1001;
    width: 350px;
    max-width: 95vw;
    height: 500px;
    max-height: 80vh;
    background: var(--surface-color);
    border-radius: 18px;
    box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .chatWidget {
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}

.chatContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 100vh;
    background-color: var(--surface-color);
   // box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

@media (max-width: 600px) {
    .chatContainer {
        height: 100vh;
        border-radius: 0;
    }
}